* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

body {
  background-image: url('./assets/background.jpeg');
}

.bottom-layer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 24px;
}

.content {
  height: 100%;
  padding: 24px;
}

#add-book-btn {
  background-color: transparent;
  padding: 8px 16px;
  border: 1px white solid;
  margin-bottom: 24px;
}

#add-book-btn:active {
  border-color: black;
  background-color: white;
  color: black;
}

.card-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 48px;
}

.book-card {
  width: 200px;
  height: 200px;
  padding: 16px;
  border: 4px double white;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.book-card button:first-of-type {
  width: 75px;
  padding: 4px 8px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: transparent;
}

.book-card button:last-child {
  display: block;
  font-weight: bold;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  position: absolute;
  right: 8px;
  top: 0px;
}

.book-card button:last-child:active {
  color: black;
}

.footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

form {
  background-color: white;
  position: fixed;
  width: min(500px, 50vw);
  height: min(500px, 100vh);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 24px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: start;

}

.main-form-content {
  padding-left: 24px;
  padding-top: 24px;
}

form label, form input, form button {
  color: black;
  display: block;
}

.checkbox {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
  margin-bottom: 16px;
}

input:not(#read) {
  width: calc(100% - 36px);
  padding: 8px;
  border: 1px solid black;
  border-radius: 16px;
  margin-bottom: 16px;
}

#close-form-btn {
  display: block;
  font-weight: bold;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
}

#submit-btn {
  align-self: center;
  justify-self: center;
  grid-column: 1 / -1;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 32px;
}

#submit-btn:active {
  background-color: black;
  color: white;
}